In [1]:
import pandas as pd

In [6]:
g_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
import 'week 3 capstone.ipynb'

SyntaxError: invalid syntax (<ipython-input-9-6d5c210211e4>, line 1)